body{
    
        background-image: url(media/colors.jpg); 
        height: 100vh;
        background-size: cover;
        text-transform: uppercase;
        text-align: center;
        list-style: none;
       

    
    
    }
    
    
    

