 *{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   
}
html{
    font-size: 62.5%; 
    
}
.header{
     text-align: center;
     height: 100vh;
     position: relative;
     background-image: url(media/cassettes-header.jpg);
    background-size: cover;

}
.header-text{
    font-family:  'Odibee Sans', cursive;
    text-transform: uppercase;
    font-size: 4rem;
    margin: auto;
    letter-spacing: 2rem;
}
.position{
    position: absolute;
    top: 0%;
    left: 15%;
}

  

